@import "./common.css";

body {
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin: 150px 0 60px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
    text-align: center;
}

p {
    color: #727272;
}

button {
    padding: 19px 41px 20px;
    color: #FFFFFF;
    margin-top: 65px;
    background: #34547A;
    letter-spacing: 0.1em;
}


.section1 {
    padding: 80px 20% 140px;
    background: #EEEFF1;
}

.small-container{
    max-width: 540px;
}

i {
    font-size: 24px;
}

.section2 {
    padding: 112px 20% 100px;
    background: #ffffff;
}

.section2 .small-container{
    text-align: center;
    margin: 0 auto;
}

nav a:not(:first-of-type){
    margin-left: 42px;
}

.section3{
    padding: 100px 20% 100px;
    background: #34547A;
}

.img1{
    width: 141px;
    height: 50px;
    left: 409px;
    top: 1159px;
}

.img2{
    width: 141px;
    height: 50px;
    left: 595px;
    top: 1159px;
}

.img3{
    width: 141px;
    height: 50px;
    left: 785px;
    top: 1159px;
}

.img4{
    width: 141px;
    height: 50px;
    left: 975px;
    top: 1159px;
}

.img5{
    width: 141px;
    height: 50px;
    left: 1165px;
    top: 1159px;
}

.section4{
    padding: 80px 20% 140px;
    background: #EEEFF1;
}

h4{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 50px;
    color: #000000;
}

.section4 .small-container{
    text-align: center;
    margin: 0 auto 57px;
}

.video1{
    display: block;
    margin: 0 auto;
}

.section5{
    padding: 60px 20% 40px;
    background: #34547A;
}

h5{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.section5 p{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
